<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            height: 100vh;
            position: relative;
            background: black;
        }

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
        }

        body {
            margin: 0 !important;
        }

        p {
            color: white;
            font-size: 20px;
        }

        #startAuthButton {
            background: #ff6a00;
            padding: 20px;
            border-radius: 5px;
            color: white;
            font-weight: 500;
            font-family: monospace;
            font-size: 15px;
            box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 1);
        }
    </style>
    <script>
        // redirectToOAuthPage();
        function redirectToOAuthPage() {
            window.location.replace("<%- locals.authStartUri %>");
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="vertical-center">
            <!-- <p>Redirecting...</p> -->
            <butotn id="startAuthButton" onclick="redirectToOAuthPage()">
                Get Token
            </butotn>

        </div>
    </div>

</body>

</html>